@model signalRChatMVC.ViewModels.FriendListViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>

    <ul>
        @foreach (var friend in Model.Friends)
        {
            <li>
                <div>
                    <p>@friend.Firstname @friend.Lastname</p>
                    <p>@friend.Username</p>
                </div>
            </li>
        }
    </ul>
</div>